/*
 * Supplemental styles especially for the dark theme on Firefox
 */
:root {
  color-scheme:light dark;
  --bg-default:rgb(72,72,84);
    --bg-hover:rgb(92,92,106);
   --bg-active:rgba(12,12,12,0.3);
}

textarea.browser-style {
  border-radius:4px;
}
textarea.browser-style:focus {
  outline:none;
}

@media(prefers-color-scheme:dark) {
  button.browser-style,
  select.browser-style {
        border-style:none;
    background-color:var(--bg-default);
  }
  button.browser-style:hover,
  select.browser-style:hover {
    background-color:var(--bg-hover);
  }
  button.browser-style:active,
  select.browser-style:active {
    background-color:var(--bg-active);
  }

  textarea.browser-style {
    background-color:transparent;
        border-color:#7c7b82;
  }
}
